#border1{
    width:50%;
    height:40px;
    outline:10px solid rgb(237, 10, 131);
    text-align: center;
    background-color: chartreuse;
    }
    #border2{
        width:50%;
        height:40px;
        outline:10px dashed rgb(237, 10, 131);
        text-align: center;
        background-color: chartreuse;
        }
        #border3{
            width:50%;
            height:40px;
            outline:10px dotted rgb(237, 10, 131);
            text-align: center;
            background-color: chartreuse;
            }
            #border4{
                width:50%;
                height:40px;
                outline:10px double rgb(237, 10, 131);
                text-align: center;
                background-color: chartreuse;
                }
                #border5{
                    width:50%;
                    height:40px;
                    outline:10px groove rgb(237, 10, 131);
                    text-align: center;
                    background-color: chartreuse;
                    
                    }
                    #border6{
                        width:50%;
                        height:40px;
                        outline:10px hidden rgb(237, 10, 131);
                        text-align: center;
                        background-color: chartreuse;
                        
                        }
                        #border7{
                            width:50%;
                            height:30px;
                            outline:10px inset rgb(237, 10, 131) ;
                            text-align: center;
                            background-color: chartreuse;
                            
                            }
                            #border8{
                                width:50%;
                                height:30px;
                                outline:10px outset rgb(237, 10, 131) ;
                                text-align: center;
                                background-color: chartreuse;
                                
                                }
                                #border9{
                                    width:50%;
                                    height:30px;
                                    outline:10px ridge rgb(237, 10, 131);
                                    text-align: center;
                                    background-color: chartreuse;
                                    
                                    }
                                    